body{
  background: #678;
}

*{
  box-sizing: border-box;
}

#pl-container{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#pl-panel{
  border-top: 1px solid #aaa;
  position: absolute;
  top: 30px;
  left: 30px;
  /*background: #333;*/
  /*border: 1px solid #aaa;*/
  width: 300px;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 0;
  font-weight: 200;
  color: #ddd;
  border-radius: 2px;
}

.pl-panel-header{
  font-size: 16px;
  cursor: pointer !important;
}

.pl-new-frame{
  background: #444;
  width: 90%;
  margin: auto;
  height: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #aaa;
  border-top: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pl-new-frame:hover{
  background: #555;
}

.pl-header{
  position: relative;
  padding: 12px;
  height: 45px;
  width: 100%;
  background: #333;
  border: 1px solid #aaa;
  border-top: none;
}

.pl-header .pl-header-buttons{
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.pl-header-buttons > *{
  cursor: pointer;
}

.pl-frame-title{
  cursor: text;
  width: 200px;
  top: 12px;
  left: 12px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s ease;
}

/*.pl-frame-title:hover{
  outline: 1px solid #aaa;
}*/

.pl-frame-title input{
  background: #333;
  border: 1px solid #aaa;
  position: absolute;
  color: #ddd;
  font-weight: inherit;
  font-size: inherit;
  top: 12px;
  left: 12px;
  width: 200px;
  opacity: 0;
  font-family: inherit;
  transition: opacity 0.2s ease;
}

.pl-frame-title input:hover{
  opacity: 0.3;
}

.pl-frame-title input:focus{
  opacity: 1;
}

.pl-header-buttons .fa-plus{
  position: absolute;
  top: 16px;
  right: 12px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.pl-open .pl-header-buttons .fa-plus{
  transform: rotate(45deg);
}

.pl-header-buttons .fa-bars{
  position: absolute;
  top: 15px;
  right: 60px;
  cursor: ns-resize;
}

.pl-radio input[type="radio"]{
  display: none;
}

.pl-radio{
  position: absolute;
  top: 15px;
  right: 34px;
  /*border: 1px solid red;*/
}

.pl-radio input[type="radio"] ~ div{
  height: 14px;
  width: 14px;
  background: #333;
  border: 1px solid #aaa;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.pl-radio input[type="radio"]:checked ~ div{
  border-color: #0DFF92;
}

.pl-radio input[type="radio"] ~ div::before{
  display: block;
  content: '';
  position: relative;
  height: 6px;
  width: 6px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.pl-radio input[type="radio"]:checked ~ div::before{
  background: #0DFF92;
}

.pl-frame-window{
  background: #333;
  width: 295px;
  height: auto;
  max-height: 0;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  transition: max-height 0.4s ease;
  overflow: hidden;
}

.pl-open + .pl-frame .pl-header{
  border-top: 1px solid #aaa;
}

.pl-prop-row{
  position: relative;
  height: 40px;
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  border-bottom: 1px solid #aaa;
  /*padding: 12px;*/
  text-align: left;
  color: #aaa;
}

.pl-prop-row:last-of-type{
  border-bottom: none;
}

.pl-prop-row label{
  position: absolute;
  padding: 12px;
}

.pl-manipulators{
  position: absolute;
  font-family: 'Roboto';
  color: #aaa;
  top: 0;
  right:0;
  height: 100%;
}

.pl-slider{
  position: absolute;
  background: red;
  width: 100px;
  height: 16px;
  background: #666;
  margin: 12px;
  right: 50px;
  cursor: ew-resize;
}


.pl-slider-indicator{
  position: absolute;
  top: 0;
  background: #888;
  width: 50%;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#pl-panel input[type=number]::-webkit-inner-spin-button,
#pl-panel input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.pl-manipulators input[type="number"]{
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  color: #aaa;
  position: absolute;
  background: #333;
  border: 1px solid #aaa;
  margin: 12px;
  right: 0;
  /*border-radius: 10em;*/
  height: 16px;
  width: 40px;
}
